<footer>
    <p class="only-xl">© 2025 Ordexa<br>All rights reserved</p>
    <div class="redes">
        <p></p>
        <ul>
            <li><a href=""><i class="bi bi-telegram"></i></a></li>
            <li><a href=""><i class="bi bi-whatsapp"></i></a></li>
            <li><a href=""><i class="bi bi-facebook"></i></a></li>
            <li><a href=""><i class="bi bi-tiktok"></i></a></li>
            <li><a href=""><i class="bi bi-instagram"></i></a></li>
        </ul>
    </div>

    <div class="copyright">
        <img src="/img/estructura/ordexa.png" alt="Logo de Ordexa" width="200px">
        <p class="not-xl">© 2025 Ordexa<br>All rights reserved</p>
    </div>
</footer>