<div class="card card--shadow-sm">
  <div class="card__header">
    <div class="row-between">
      <h3 class="card__title">Últimas Órdenes de Trabajo</h3>
      <a class="btn btn-primary" href="/ordenes/nueva">＋ Nueva Orden</a>
    </div>
  </div>

  <div class="card__content">
    <div class="tablewrap">
      <table class="table">
        ...
        <td><span class="badge badge--destructive">Alta</span></td>
        <td><span class="badge badge--default">En Ejecución</span></td>
      </table>
    </div>
  </div>
</div>
